<style>
    .list:hover {
        color: lime !important;
    }
    .box {
        border: 1px solid #00FF00 !important;
        color: white;
        border-radius: 0%;
    }
    .box:hover {
        background: #00FF00 !important;
    }
</style>

<nav class="bg-gray-800 border-gray-200 lg:min-h-[100px] dark:border-gray-600 dark:bg-gray-900">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
        <a class="text-2xl font-bold h-auto text-lime-green italic" href="/">PowerCon Group</a>

        <div class="flex items-center md:order-2 space-x-1 md:space-x-2 rtl:space-x-reverse">
            <a href="#"
                class="box text-white border border-lime-green hover:bg-lime-green focus:ring-4 focus:ring-blue-300 font-semibold rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 uppercase">Book
                a meeting</a>
            <button data-collapse-toggle="mega-menu-full" type="button"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                aria-controls="mega-menu" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 1h15M1 7h15M1 13h15" />
                </svg>
            </button>
        </div>

        <div id="mega-menu-full" class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1">
            <ul class="flex flex-col mt-4 md:flex-row md:mt-0 md:space-x-8 rtl:space-x-reverse">
                <li>
                    <!-- Company Dropdown -->
                    <button id="company-menu-button" data-target="company-menu-dropdown"
                        class="dropdown-button flex items-center justify-between w-full py-2 px-3 text-white font-bold text-sm uppercase md:w-auto hover:underline md:hover:bg-transparent md:border-0 md:p-0 dark:text-white dark:hover:bg-gray-7 md:dark:hover:bg-transparent dark:border-gray-700">Company
                        <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 4 4 4-4" />
                        </svg>
                    </button>
                </li>

                <li>
                    <!-- Focused Area Dropdown -->
                    <button id="focused-area-menu-button" data-target="focused-area-menu-dropdown"
                        class="dropdown-button flex items-center justify-between w-full py-2 px-3 text-white font-bold text-sm uppercase md:w-auto hover:underline md:hover:bg-transparent md:border-0 md:p-0 dark:text-white dark:hover:bg-gray-7 md:dark:hover:bg-transparent dark:border-gray-700">Focused
                        Areas
                        <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 4 4 4-4" />
                        </svg>
                    </button>
                </li>
                <li>
                    <!-- ir Dropdown -->
                    <button id="ir-area-menu-button" data-target="ir-area-menu-dropdown"
                        class="dropdown-button flex items-center justify-between w-full py-2 px-3 text-white font-bold text-sm uppercase md:w-auto hover:underline md:hover:bg-transparent md:border-0 md:p-0 dark:text-white dark:hover:bg-gray-7 md:dark:hover:bg-transparent dark:border-gray-700">Resources
                        <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 4 4 4-4" />
                        </svg>
                    </button>
                </li>
                <li>
                    <!-- sustainability Area Dropdown -->
                    <button id="sustainability-area-menu-button" data-target="sustainability-area-menu-dropdown"
                        class="dropdown-button flex items-center justify-between w-full py-2 px-3 text-white font-bold text-sm uppercase md:w-auto hover:underline md:hover:bg-transparent md:border-0 md:p-0 dark:text-white dark:hover:bg-gray-7 md:dark:hover:bg-transparent dark:border-gray-700">sustainability
                        <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 4 4 4-4" />
                        </svg>
                    </button>
                </li>

                <li>
                    <a href="/contact"
                        class="block py-2 px-3 text-white font-bold text-sm uppercase hover:underline md:hover:bg-transparent md:border-0 md:p-0 dark:text-white dark:hover:bg-gray-7 md:dark:hover:bg-transparent dark:border-gray-700">Contact
                        us</a>
                </li>
            </ul>

        </div>
    </div>
    <!-- Company Dropdown Content -->
    <div id="company-menu-dropdown"
        class="hidden mt-1 bg-white border-gray-200 shadow-sm border-y dark:bg-gray-800 dark:border-gray-600">
        <div class="flex flex-row justify-between px-4 py-5 mx-auto max-w-screen-xl gap-12">
            <!-- Left Section: Image (Hidden on smaller screens) -->
            <div class="hidden lg:flex flex-col items-start w-2/3 mr-10">
                <div>
                    <p class="text-gray-600 font-semibold text-lg mb-2">Company</p>
                    <img src="/images/recep.jpg" alt="Teamwork" class="w-full h-auto max-h-60 shadow-md">

                </div>
            </div>

            <!-- Middle Section: Company Links -->
            <div class="flex flex-col justify-center  w-full lg:w-1/3 ml-16">
                <ul class="space-y-2">
                    <li><a href="/corporate" class="list text-gray-800"><span class="text-spring-green text-xs">■ </span>Corporate Info</a></li>
                    <li><a href="/mission" class="list text-gray-800"><span class="text-spring-green text-xs">■ </span>Vision, Mission & Core Values</a></li>
                    <li><a href="#" class="list text-gray-800"><span class="text-spring-green text-xs">■ </span>Company Milestone</a></li>
                    <li><a href="/message" class="list text-gray-800"><span class="text-spring-green text-xs">■ </span>Message From Chairman</a></li>
                    <li><a href="/board" class="list text-gray-800"><span class="text-spring-green text-xs">■ </span>Board of Directors</a></li>
                </ul>
            </div>

            <!-- Right Section: Management Structure Links -->
            <div class="flex flex-col w-full lg:w-1/3">
                <p class="text-gray-600 font-semibold text-sm mb-1">Ethics</p>
                <ul class="space-y-2">
                    <li><a href="#" class="list text-gray-800"><span class="text-spring-green text-xs">■ </span>Quality Standards</a>
                    </li>
                    <li><a href="#" class="list text-gray-800"><span class="text-spring-green text-xs">■ </span>Safety</a></li>
                    <li><a href="#" class="list text-gray-800"><span class="text-spring-green text-xs">■ </span>Reliability</a></li>
                    <li><a href="#" class="list text-gray-800"><span class="text-spring-green text-xs">■ </span>Stakeholders</a></li>
                    <li><a href="#" class="list text-gray-800"><span class="text-spring-green text-xs">■ </span>Compliance & Ethics Code</a></li>

                </ul>
                <p class="text-gray-600 font-semibold text-sm mt-1">Awards & Recognitions</p>
            </div>
        </div>

    </div>
    <!-- Focused Area Dropdown Content -->
    <div id="focused-area-menu-dropdown"
        class="hidden mt-1 bg-white border-gray-200 shadow-sm border-y dark:bg-gray-800 dark:border-gray-600">
        <div class="max-w-screen-xl mx-auto py-5">
            <h2 class="text-2xl font-bold text-gray-900 mb-8 text-center">OUR BUSINESS</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 px-4">
                <!-- Business Overview -->
                <div class="flex flex-col items-center text-center">
                    <img src="https://www.jpmorganchase.com/content/dam/jpmorganchase/images/impact/business-growth-and-entrepreneurship/strong-communities.jpg"
                        alt="Business Overview" class="w-full h-48 object-cover rounded-md shadow-md mb-4">
                    <p class="text-lg font-semibold text-gray-800">Residential Construction</p>
                </div>

                <!-- Construction Business -->
                <div class="flex flex-col items-center text-center">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSE91fJ141Y5FSkysDxO6vUgFJ3huQLNDUmRA&s"
                        alt="Construction Business" class="w-full h-48 object-cover rounded-md shadow-md mb-4">
                    <p class="text-lg font-semibold text-gray-800">Industrial Contruction</p>
                </div>

                <!-- Construction Material Trading -->
                <div class="flex flex-col items-center text-center">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQdrxn6i5dFIK3pkzHPyB_pJ4ENIkKPQQDwA&s"
                        alt="Construction Material Trading Business"
                        class="w-full h-48 object-cover rounded-md shadow-md mb-4">
                    <p class="text-lg font-semibold text-gray-800">Engineering & Power</p>
                </div>

                <!-- Investment & Real Estate Development -->
                <div class="flex flex-col items-center text-center">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVbMRpaLPacB-D-yTmOHyytG9PkH1W7_NOSQ&s"
                        alt="Investment & Real Estate Development"
                        class="w-full h-48 object-cover rounded-md shadow-md mb-4">
                    <p class="text-lg font-semibold text-gray-800">Water Resources</p>
                </div>
            </div>
        </div>

    </div>
    <!-- Resources Area Dropdown Content -->
    <div id="ir-area-menu-dropdown"
        class="hidden mt-1 bg-white border-gray-200 shadow-sm border-y dark:bg-gray-800 dark:border-gray-600">
        <div class="flex flex-row justify-between px-4 py-5 mx-auto max-w-screen-xl gap-12">
            <!-- Left Section: Image (Hidden on smaller screens) -->
            <div class="hidden lg:flex flex-col items-start w-2/3 mr-10">
                <div>
                    <p class="text-gray-600 font-semibold text-lg mb-2">Resources</p>
                    <img src="/images/recep.jpg" alt="Teamwork" class="w-full h-auto max-h-60 shadow-md">

                </div>
            </div>

            <!-- Middle Section: Company Links -->
            <div class="flex flex-col items mt-6  w-full lg:w-1/3 ml-16">
                <div>
                    <p class="text-black font-semibold ">Overview</p>
                    <ul class="space-y-1">
                        <li><a href="#" class="list text-gray-800 hover:text-spring-green"><span
                                    class="text-spring-green text-xs">■ </span>Workforce</a></li>
                        <li><a href="#" class="list text-gray-800"><span class="text-spring-green text-xs">■ </span>Yard Facilities</a></li>
                        <li><a href="#" class="list text-gray-800"><span class="text-spring-green text-xs">■ </span>Robust Equipment</a></li>
                    </ul>
                </div>

            </div>

            <div class="flex flex-col justify-center mt-6  w-full lg:w-1/3 ml-16">
                <div>
                    <p class="font-semibold text-black ">Laboratory</p>
                    <ul class="space-y-1">
                        <li><a href="#" class="list text-gray-800"><span class="text-spring-green text-xs">■
                                </span>Soil Sampling & Testing</a></li>
                        <li><a href="#" class="list text-gray-800"><span class="text-spring-green text-xs">■
                                </span>Aggregate Sampling & Testing</a></li>
                        <li><a href="#" class="list text-gray-800"><span class="text-spring-green text-xs">■
                                </span>Concrete Sampling & Testing</a></li>
                        <li><a href="#" class="list text-gray-800"><span class="text-spring-green text-xs">■
                                </span>Steel Sampling & Tests</a></li>
                        <li><a href="#" class="list text-gray-800"><span class="text-spring-green text-xs">■
                                </span>Asphalt & Bitumen Tests</a></li>
                        <li><a href="#" class="list text-gray-800"><span class="text-spring-green text-xs">■
                                </span>Pavements Tests</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <!-- cg Area Dropdown Content -->
    <div id="eth-area-menu-dropdown" class="hidden mt-1 bg-white border-gray-200 shadow-sm border-y dark:bg-gray-800 dark:border-gray-600">
        <div class="flex flex-row justify-between px-4 py-5 mx-auto max-w-screen-xl gap-12">
            <!-- Left Section: Image (Hidden on smaller screens) -->
            <div class="hidden lg:flex flex-col items-start w-2/3 mr-10">
                <div>
                    <p class="text-gray-600 font-semibold text-lg mb-2">Ethics</p>
                    <img src="/images/recep.jpg" alt="Teamwork" class="w-full h-auto max-h-60 shadow-md">

                </div>
            </div>

            <!-- Middle Section: Company Links -->
            <div class="flex flex-col w-full lg:w-1/3 ml-16 mt-4">
                <ul class="space-y-2">
                    <li><a href="#" class="list text-gray-800">Corporate Governance Policy</a></li>
                    <li><a href="#" class="list text-gray-800">CG Document and Download</a></li>
                    <li><a href="#" class="list text-gray-800">Anti-Corruption and Whistleblower Channel</a></li>
                </ul>
            </div>

            <!-- Right Section: Management Structure Links -->
            <div class="flex flex-col w-full lg:w-1/3">
                <p class="text-black font-semibold mb-1">Privacy Policy</p>
                <ul class="space-y-2">
                    <li><a href="#" class="list text-gray-800"><span class="text-spring-green text-xs">■ </span>Privacy Policy</a></li>
                    <li><a href="#" class="list text-gray-800"><span class="text-spring-green text-xs">■ </span>Vendor and Business Partners</a>
                    </li>
                    <li><a href="#" class="list text-gray-800"><span class="text-spring-green text-xs">■ </span>Applicants and Employment</a></li>
                    <li><a href="#" class="list text-gray-800"><span class="text-spring-green text-xs">■ </span>Shareholders and Investors</a></li>
                    <li><a href="#" class="list text-gray-800"><span class="text-spring-green text-xs">■ </span>Director and Independent Director</a></li>
                    <li><a href="#" class="list text-gray-800"><span class="text-spring-green text-xs">■ </span>Visit Company</a></li>
                </ul>
            </div>
        </div>

    </div>
    <!-- sustainability Area Dropdown Content -->
    <div id="sustainability-area-menu-dropdown" class="hidden mt-1 bg-white border-gray-200 shadow-sm border-y dark:bg-gray-800 dark:border-gray-600">
        <div class="flex flex-row justify-between px-4 py-5 mx-auto max-w-screen-xl gap-12">
            <!-- Left Section: Image (Hidden on smaller screens) -->
            <div class="hidden lg:flex flex-col items-start w-2/3 mr-10">
                <div>
                    <p class="text-gray-600 font-semibold text-lg mb-2">Sustainability</p>
                    <img src="/images/recep.jpg" alt="Teamwork" class="w-full h-auto max-h-60 shadow-md">

                </div>
            </div>

            <!-- Middle Section: Company Links -->
            <div class="flex flex-col w-full lg:w-1/3 ml-16 mt-4">
                <ul class="space-y-2">
                    <li><a href="#" class="list text-gray-800">Sustainability Execution</a></li>
                </ul>
            </div>

            <!-- Right Section: Management Structure Links -->
            <div class="flex flex-col w-full lg:w-1/3 mt-4">
                <ul class="space-y-2">
                    <li><a href="#" class="list text-gray-800">Our Policies</a></li>
                </ul>
            </div>
        </div>

    </div>

</nav>
<script src="/javascripts/mega.js"></script>