    
    <%- layout('layouts/boiler') %>
    <style>
        .transport-container {
            width: 50%;
            height: auto;
            padding-top: 50px;
            padding-bottom: 50px;
        }
    
        .transport-text {
            width: 40%;
        }
    </style>
    
        <!-- Hero Section with Video Background -->
        <main class="relative text-white min-h-screen">
            <video autoplay loop muted class="absolute inset-0 w-full h-full object-cover">
                <source src="/water.mp4" type="video/mp4" />
                Your browser does not support the video tag.
            </video>
    
            <div class="relative flex flex-col items-center justify-center min-h-screen bg-black bg-opacity-50">
                <div class="px-6 text-center" id="scroll-content">
                    <h1 class="rob1 text-7xl md:text-16xl font-bold md:text-6xl uppercase">
                        GAS ENERGY
                    </h1>
                    <p class="para1 mt-5 text-2xl font-semibold z-50">
                        Providing innovative gas energy solutions for efficient and reliable power generation.
                    </p>
                </div>
            </div>
        </main>
    
    
        <div class="transport-container flex flex-col items-center justify-center mx-auto">
            <p class="tranport-text text-xl p-10 text-center">
                Powercon Innovation excels in delivering advanced gas energy solutions, focusing on efficient extraction, processing, and distribution. Our systems ensure reliable and sustainable energy to meet modern industrial and community needs.
            </p>
        </div>
    
    
        <div class="p-4 w-full mt-0">
            <div class="flex space-x-1 mt-3 h-2">
                <div class="flex-1 bg-teal transform skew-x-12"></div>
                <div class="flex-1 bg-dark-blue transform skew-x-12"></div>
                <div class="flex-1 bg-lime-green transform skew-x-12"></div>
            </div>
        </div>
    
        <div class="flex flex-col items-center justify-center">
            <h1 class="text-3xl pt-4  pb-4 font-bold text-center">Highlighted Gas energy Projects
            </h1>
        </div>
    
    
        <div class="relative flex flex-col items-center justify-center space-y-4 bg-gray-100 p-8 rounded-lg shadow-md">
            <!-- Image Section -->
            <img 
                src="/images/young.png" 
                alt="Placeholder image" 
                class="object-cover rounded-full shadow-lg pt-4"
            >
            
            <!-- Title Section -->
            <h1 
                class="text-4xl pb-4 font-semibold text-center text-gray-800 tracking-wide"
            >
                NO PROJECTS COMPLETED
            </h1>
        </div>
        