@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Sora:wght@400;700&display=swap');

body {
    font-family: 'Karla', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Sora', sans-serif;
}

.para-container {
    padding-left: 70px;
    padding-right: 70px;
}

.container-main h1 {
    padding-left: 70px;
    margin-bottom: 80px;
}

.container-main h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 7px;
}

.container-main h4 {
    padding-left: 70px;
    margin-bottom: 70px;
}

.para-main {
    font-size: 19px;
}

.titles-container {
    width: 850px;
}

.dark-brown {
    background-color: #333333;
}

.mt {
    margin-top: 70px;
}


.mozilla {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 100px;
}

.last {
    margin-top: 70px;
}

.dart {
    background: url('https://img.freepik.com/premium-photo/modern-buildings-city-against-clear-sky_960396-275069.jpg?ga=GA1.1.1951979353.1732287376&semt=ais_hybrid');
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 50px;
    padding-right: 50px;
}


/* TIMELINE THING */
.oxford {
    margin-left: 70px;
}

/* Base styles for the card */
.dev {
    height: 530px;
    position: relative;
    overflow: hidden;
  }
  
  
