<%- layout('layouts/boiler') %>
    <div class="relative text-white min-h-screen">
        <img class="absolute inset-0 w-full h-full object-cover" src="/images/recep.jpg" alt="">

        <div class="relative flex flex-col items-center justify-center min-h-screen bg-black bg-opacity-50">
            <div class="px-6 text-center">
                <h1 class="text-8xl font-bold md:text-6xl">
                    Contact Us
                </h1>
            </div>
        </div>
    </div>
    <div class="h-48 flex flex-col items-center justify-center">
        <p class="uppercase text-3xl font-bold">We want to hear from you!</p>
        <p class="text-lg">Call us or submit the contact form below.</p>
    </div>

    <div class="p-4 w-full mt-0">
        <div class="flex space-x-1 mt-3 h-2">
            <div class="flex-1 bg-teal transform skew-x-12"></div>
            <div class="flex-1 bg-dark-blue transform skew-x-12"></div>
            <div class="flex-1 bg-lime-green transform skew-x-12"></div>
        </div>
    </div>

    <div class="w-full h-auto flex flex-col lg:flex-row">
        <!-- Left Image Section (Hidden on small screens) -->
        <div class="w-full lg:w-1/2 h-auto lg:h-[calc(100vh-2rem)]">
            <img src="/images/talk.png" alt="Product Image" class="object-cover w-full h-full lg:h-auto">
        </div>

        <!-- Right Form Section -->
        <section class="bg-white dark:bg-gray-900 w-full lg:w-1/2 h-auto">
            <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
                <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-lime">Contact Us</h2>
                <form action="#">
                    <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                        <!-- Full Name -->
                        <div class="sm:col-span-2">
                            <label for="fullname"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-lime">Full Name</label>
                            <input type="text" name="fullname" id="fullname"
                                class="border border-gray-700 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-lime dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                placeholder="Enter your full name" required="">
                        </div>

                        <!-- Last Name -->
                        <div class="w-full">
                            <label for="lastname"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-lime">Last Name</label>
                            <input type="text" name="lastname" id="lastname"
                                class="border border-gray-700 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-lime dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                placeholder="Enter your last name" required="">
                        </div>

                        <!-- Email -->
                        <div class="w-full">
                            <label for="email"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-lime">Email</label>
                            <input type="email" name="email" id="email"
                                class="border border-gray-700 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-lime dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                placeholder="Enter your email" required="">
                        </div>

                        <!-- Phone Number -->
                        <div class="w-full">
                            <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-lime">Phone
                                Number</label>
                            <input type="tel" name="phone" id="phone"
                                class="border border-gray-700 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-lime dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                placeholder="Enter your phone number" required="">
                        </div>

                        <!-- Office Location -->
                        <div class="w-full">
                            <label for="office-location"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-lime">Country</label>
                            <select name="office-location" id="office-location"
                                class="border border-gray-700 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-lime dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                required="">
                                <option value="" disabled selected>Select your country</option>
                                <option value="Gambia">Gambia</option>
                                <option value="Nigeria">Nigeria</option>
                                <option value="Ghana">Ghana</option>
                                <option value="South Africa">South Africa</option>
                                <option value="Kenya">Kenya</option>
                                <option value="Uganda">Uganda</option>
                                <option value="Sierra Leone">Sierra Leone</option>
                                <option value="Liberia">Liberia</option>
                                <option value="Cameroon">Cameroon</option>
                                <!-- Add more countries as needed -->
                            </select>
                        </div>
                        <div class="w-full">
                            <label for="service"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-lime">Service</label>
                            <select name="service" id="service"
                                class="border border-gray-700 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-lime dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                required="">
                                <option value="" disabled selected>Select a service</option>
                                <option value="Solar Installation">Solar Installation</option>
                                <option value="Solar Panel Maintenance">Solar Panel Maintenance</option>
                                <option value="Energy Auditing">Energy Auditing</option>
                                <option value="Power Backup Solutions">Power Backup Solutions</option>
                                <option value="Battery Storage Solutions">Battery Storage Solutions</option>
                                <option value="Solar System Design">Solar System Design</option>
                                <option value="Grid Connection">Grid Connection</option>
                                <option value="Energy Efficiency Consulting">Energy Efficiency Consulting</option>
                                <!-- Add more service options as needed -->
                            </select>
                        </div>
                    </div>
                    <!-- Message -->
                    <div class="w-full">
                        <label for="message"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-lime">Message</label>
                        <textarea name="message" id="message" rows="4"
                            class="border border-gray-700 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-lime dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Type your message" required=""></textarea>
                    </div>
                    <button type="submit"
                        class="mt-5 uppercase text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Submit
                        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M1 5h12m0 0L9 1m4 4L9 9" />
                        </svg>
                    </button>


                </form>
            </div>
        </section>
    </div>

    <div class="p-4 w-full mt-0">
        <div class="flex space-x-1 mt-3 h-2">
            <div class="flex-1 bg-teal transform skew-x-12"></div>
            <div class="flex-1 bg-dark-blue transform skew-x-12"></div>
            <div class="flex-1 bg-lime-green transform skew-x-12"></div>
        </div>
    </div>