<%- layout('layouts/boiler') %>

    <link rel="stylesheet" href="/styles/workforce.css">
    <!-- HERO -->
    <main class="hero flex  bg-black justify-center items-center flex-col">
        <p class="text-center font-bold text-5xl text-teal">Overview Of Our Resources</p>
        <div class="bg-lime-green dash"></div>
    </main>


    <div class="mainer text-white font-sans min-h-screen flex flex-col mx-auto">
        <!-- REPLICA -->
        <div class="flex w-full main-page"> <!-- Reduced height using max-h -->

            <!-- Left Content Section with padding -->
            <div class="w-1/2 flex flex-col justify-between lefter">
                <!-- Header Section -->
                <div class="mb-6 border-b border-gray-500 pb-4">
                    <h1 class="text-sm font-semibold tracking-widest uppercase mt-4 text-lime-green">Workforce</h1>
                    <p class="mt-4 text-xl font-bold">We invest in skilled professionals who drive innovation and
                        quality.</p>
                </div>

                <!-- Services Section -->
                <div class="grid grid-cols-1 gap-8">
                    <div class="grid grid-cols-1  gap-6 ">
                        <div>
                            <p class="mt-2 text-gray-300 mb-4 text-justify">Our workforce is the backbone of our operations, comprising
                                experienced engineers, project managers, architects, and construction specialists. Each
                                team member is carefully selected for their expertise and dedication, ensuring that
                                every project benefits from a blend of innovation, precision, and professionalism.
                                Through continuous training and development, we keep our workforce equipped with the
                                latest knowledge and tools to stay ahead in the industry.</p>
                            <a href="#"
                                class="anchor text-lg font-semibold mt-4 text-gray-200 bg-teal  p-2 text-center rounded-md">Learn
                                More</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right Image Section with padding -->
            <div class="w-1/2 bg-gray-200 p-12 righter h-full hidden md:block overflow-hidden relative">
                <div class="image-slider">
                    <img src="https://img.freepik.com/free-photo/colleagues-working-together-project_23-2149286162.jpg?t=st=1734617255~exp=1734617855~hmac=2c3b53d28947b5dcf3cf9f647c94f5161e1e013931610d6d70ec35e165d9d1c4"
                        alt="Team working" class="object-cover h-full w-full">
                    <img src="https://img.freepik.com/free-photo/african-american-businessman-using-laptop-cafe_1157-46908.jpg?uid=R178129720&ga=GA1.1.1951979353.1732287376&semt=ais_hybrid"
                        alt="Business Analysis" class="object-cover h-full w-full">
                    <img src="https://img.freepik.com/free-photo/coworker-discussing-management-strategy-with-remote-team_482257-77583.jpg?uid=R178129720&ga=GA1.1.1951979353.1732287376&semt=ais_hybrid"
                        alt="Strategy Planning" class="object-cover h-full w-full">
                </div>
            </div>

        </div>

        <!-- REPLICA -->
        <div class="flex w-full main-page"> <!-- Reduced height using max-h -->
            <!-- Right Image Section with padding -->
            <div class="w-1/2 bg-gray-200 p-12 righter h-full hidden md:block overflow-hidden relative">
                <div class="image-slider">
                    <img src="https://img.freepik.com/free-photo/colleagues-working-together-project_23-2149286162.jpg?t=st=1734617255~exp=1734617855~hmac=2c3b53d28947b5dcf3cf9f647c94f5161e1e013931610d6d70ec35e165d9d1c4"
                        alt="Team working" class="object-cover h-full w-full">
                    <img src="https://img.freepik.com/free-photo/african-american-businessman-using-laptop-cafe_1157-46908.jpg?uid=R178129720&ga=GA1.1.1951979353.1732287376&semt=ais_hybrid"
                        alt="Business Analysis" class="object-cover h-full w-full">
                    <img src="https://img.freepik.com/free-photo/coworker-discussing-management-strategy-with-remote-team_482257-77583.jpg?uid=R178129720&ga=GA1.1.1951979353.1732287376&semt=ais_hybrid"
                        alt="Strategy Planning" class="object-cover h-full w-full">
                </div>
            </div>

            <!-- Left Content Section with padding -->
            <div class="w-1/2 flex flex-col justify-between lefter">
                <!-- Header Section -->
                <div class="mb-6 border-b border-gray-500 pb-4">
                    <h1 class="text-sm font-semibold tracking-widest uppercase mt-4 text-lime-green">Yard Facilities</h1>
                    <p class="mt-4 text-xl font-bold">Advanced facilities ensuring seamless resource management and
                        logistics.</p>
                </div>

                <!-- Services Section -->
                <div class="grid grid-cols-1 gap-8">
                    <div class="grid grid-cols-1  gap-6 ">
                        <div>
                            <p class="mt-2 text-gray-300 mb-4 text-justify">Our yard facilities are designed to enhance operational
                                efficiency, serving as centralized hubs for storage, logistics, and material handling.
                                These facilities are equipped with advanced tools, secure storage spaces, and efficient
                                systems to manage equipment and materials for projects of any scale. This infrastructure
                                ensures that we can quickly mobilize resources and maintain smooth project workflows.
                            </p>
                            <a href="#"
                            class="anchor text-lg font-semibold mt-4 text-gray-200 bg-teal p-2 text-center rounded-md">Learn
                            More</a>
                        </div>
                    </div>
                </div>

            </div>


        </div>

        <!-- REPLICA -->
        <div class="flex w-full main-page"> <!-- Reduced height using max-h -->

            <!-- Left Content Section with padding -->
            <div class="w-1/2 flex flex-col justify-between lefter">
                <!-- Header Section -->
                <div class="mb-6 border-b border-gray-500 pb-4">
                    <h1 class="text-sm font-semibold tracking-widest uppercase mt-4 text-lime-green">Robust Equipment</h1>
                    <p class="mt-4 text-xl font-bold">Cutting-edge machinery maintained for reliability and efficiency.
                    </p>
                </div>

                <!-- Services Section -->
                <div class="grid grid-cols-1 gap-8">
                    <div class="grid grid-cols-1 gap-8">
                        <div class="grid grid-cols-1  gap-6 ">
                            <div>
                                <p class="mt-2 text-gray-300 mb-4 text-justify">We leverage a wide array of robust equipment to handle
                                    diverse construction, engineering, and industrial tasks. From heavy machinery for
                                    large-scale construction to specialized tools for precision engineering, our fleet
                                    is maintained to the highest standards. Regular maintenance and upgrades ensure the
                                    reliability and performance of our equipment, allowing us to deliver on even the
                                    most demanding project requirements.
                                </p>
                                <a href="#"
                                class="anchor text-lg font-semibold mt-4 text-gray-200 bg-teal p-2 text-center rounded-md">Learn
                                More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right Image Section with padding -->
            <div class="w-1/2 bg-gray-200 p-10 righter h-full hidden md:block overflow-hidden relative">
                <div class="image-slider">
                    <img src="https://img.freepik.com/free-photo/colleagues-working-together-project_23-2149286162.jpg?t=st=1734617255~exp=1734617855~hmac=2c3b53d28947b5dcf3cf9f647c94f5161e1e013931610d6d70ec35e165d9d1c4"
                        alt="Team working" class="object-cover h-full w-full">
                    <img src="https://img.freepik.com/free-photo/african-american-businessman-using-laptop-cafe_1157-46908.jpg?uid=R178129720&ga=GA1.1.1951979353.1732287376&semt=ais_hybrid"
                        alt="Business Analysis" class="object-cover h-full w-full">
                    <img src="https://img.freepik.com/free-photo/coworker-discussing-management-strategy-with-remote-team_482257-77583.jpg?uid=R178129720&ga=GA1.1.1951979353.1732287376&semt=ais_hybrid"
                        alt="Strategy Planning" class="object-cover h-full w-full">
                </div>
            </div>

        </div>

    </div>